.drawer-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Drawer styling */
.drawer-container {
  animation: slideOutTop 0.7s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  width: 100vw;
  background-color: white;
  height: 55vh;
  z-index: 1;

  /* make it so that the drawer dosnt get too wide */
  max-width: 500px;

  /* border radius on the bottom*/
  border: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.drawer-exit-top {
  animation: slideInTop 0.7s ease-in;
}

.drawer-container .polaroid {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.drawer-container button {
  font-family: Outfit, sans-serif;
  font-weight: 700;
  color: black;
  margin: 16px 0;
  height: 28px;
  width: 126px;
  border-radius: 50px;
  border: 0px;
  background-color: var(--primary);
}

.drawer-container #handle {
  height: 5px;
  width: 43px;
  margin-bottom: 10px;
}

#texture {
  background: url(../assets/map/texture-small.jpeg);
  background-size: cover;
  height: 40vh;

  /* make it so that there's 20px margin on each side */
  width: calc(100% - 40px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: auto;
  position: relative;
  /* account for the header */
  margin-top: 50px;

  /* center the polaroid */
  display: flex;
  align-items: center;
  justify-content: center;
}

#polariod-container {
  /* make it so that the width of the polaroid stays at 50% */
  width: 50%;
  max-width: 500px;
}
/* #texture::-webkit-scrollbar {
      width: 3px;
      height: 10px;
  }
  
  #texture::-webkit-scrollbar-track {
      background: #f1f1f1;
  }
  
  #texture::-webkit-scrollbar-thumb {
      background: #aaa;
      border-radius: 10px;
  }
  
  #texture::-webkit-scrollbar-thumb:hover {
      background: #999;
  } */

/* Animation css classes */
@keyframes fadeIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slideOutTop {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
