#feed {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  transition: filter 0.3s ease-in-out;
}

#feed.blur {
  filter: blur(5px);
}

#top {
  margin-bottom: 25px;

  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}

#top img {
  width: 100%;
  aspect-ratio: 5/4;
  object-fit: cover;
  border-radius: inherit;
  background-color: wheat;
}

#top #image-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  border: none;
}

#daily-feed {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

#daily-feed img {
  border: none;
}

#daily-feed #title {
  width: fit-content;
  line-height: 10px;
}

.image-grid {
  width: 49%; /* Make images fill their cell */
  row-gap: 10px;
  column-gap: 10px;
}

.image-grid .daily-feed-post {
  width: 100%; /* Make images fill their cell */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Adjust this as needed */
}

#grid-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#feed {
  background-image: url("../../assets/feed/oak-wood-texture-design-background.jpg");
  background-size: 100% auto;
  background-repeat: repeat;
  min-height: 100vh;
}

#feed .polaroid {
  animation: polaroidFadeIn 0.8s ease-out;
}

/* Animation css classes */
@keyframes polaroidFadeIn {
  from {
    margin-top: 70%;
    opacity: 0.5;
    scale: 0.7;
  }
  to {
    opacity: 1;
    margin-top: 0%;
    scale: 1;
  }
}

#feed #padding {
  padding: 80px 20px;
}

.polaroid.skeleton {
  width: 100%;
  background-color: white;
}

.polaroid.skeleton .padding.skeleton {
  padding: 5% 3%;
  padding-bottom: 30%;
  background-color: white;
}

.polaroid.skeleton .image.skeleton {
  width: 100%;
  aspect-ratio: 1/1;
}

/* THE LOADING EFFECT */
.skeleton {
  background-color: #e2e5e7;
  /* The shine that's going to move across the skeleton: */
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  background-size: 40px 100%; /* width of the shine */
  background-repeat: no-repeat; /* No need to repeat the shine effect */
  background-position: left -40px top 0; /* Place shine on the left side, with offset on the left based on the width of the shine - see background-size */
  animation: shine 1s ease infinite; /* increase animation time to see effect in 'slow-mo' */
}

@keyframes shine {
  to {
    /* // Move shine from left to right, with offset on the right based on the width of the shine - see background-size */
    background-position: right -40px top 0;
  }
}
