#feed {
  padding: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#top {
  margin-bottom: 25px;

  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}

#daily-feed {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

#daily-feed #title {
  width: fit-content;
  line-height: 10px;
}

.image-grid {
  width: 48%; /* Make images fill their cell */
  row-gap: 10px;
  column-gap: 10px;
}

.image-grid .daily-feed-post {
  width: 100%; /* Make images fill their cell */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Adjust this as needed */
}

#grid-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#blur {
  background: linear-gradient(
    to bottom,
    rgba(21, 21, 21, 0),
    rgba(30, 30, 30, 0),
    rgba(86, 86, 86, 0),
    rgba(0, 0, 0, 0.878)
  );

  position: absolute;
  width: 100%;
  height: 100%;
  padding: 16px 18px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
