/* center the content */
#login #display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* adding padding */
#login-wrapper {
  width: calc(100% - 40px);
}

/* the form */
#login {
  position: absolute;
  width: inherit;

  /* center the content from top to bottom */
  max-height: 100vh;
  transform: translateY(-50%);
  top: 50%;
}

/* the spacer for header and footer */
#spacer {
  padding: 70px 0;
  overflow: scroll;

  max-width: 500px;
  min-width: 200px;

  margin-left: auto;
  margin-right: auto;
}

/* The title of the page */
#login #title {
  font-size: 50px;
  font-weight: 700;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}

/* text input field's spacing */
#login #form .field {
  margin-bottom: 30px;
  width: 100%;
}

/* the forms and button  */
#login #form {
  /* center the content from top to bottom */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

/* each input field */
#login #form input.text {
  /* make the input field take up the whole width */
  width: 100%;

  /* styles */
  font-size: 16px;
  border: none;
  border-radius: 100px;
  padding: 13px 21px;
  font-family: Outfit, sans-serif;
  font-weight: 600;
  color: black;
  background-color: #e7e7e7;

  /* make the form start from the left */
  box-sizing: border-box;

  /* Remove the red border when selected */
  outline: none;
}

#login #form button {
  width: 100%;

  /* styles */
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  padding: 10px;
  color: black;
  background-color: #00dca5;
  margin-bottom: 45px;
  font-family: "Outfit";
}

#form #message {
  color: black;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
}

#login #message {
  width: 100%;
}
