.mapContainer {
    height: 94vh;
    width: 100vw;
}

button.gm-ui-hover-effect{
    display: none !important;
}

div.gm-style-iw.gm-style-iw-c {
    padding: 7px;
    width: calc(max-content - 30px);
    border-radius: 12px;
}

div.poi-info-window.gm-style,
.poi-info-window div, .poi-info-window a {
    background: rgb(0, 220, 165);
    font-family: Outfit, sans-serif;
    color: black;
    padding: 1px;
}

div.gm-style-iw-d {
    margin-right: -10px;
    margin-bottom: -8px;
    background: rgb(0, 220, 165);
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track, 
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after,
.gm-style .gm-style-iw-tc::after { 
  background: rgb(0, 220, 165);
}