/* center the content */
#display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* adding padding */
#register-wrapper {
  width: calc(100% - 40px);
}

/* the form */
#register {
  position: absolute;
  width: inherit;

  /* center the content from top to bottom */
  max-height: 100vh;
  transform: translateY(-50%);
  top: 50%;
}

/* the spacer for header and footer */
#spacer {
  padding: 70px 0;
  overflow: scroll;

  max-width: 500px;
  min-width: 200px;

  margin-left: auto;
  margin-right: auto;
}

/* The title of the page */
#register #title {
  font-size: 36px;
  font-weight: 700;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* the forms and button  */
#register #form {
  /* center the content from top to bottom */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* margin from the title */
  margin-top: 40px;
}

/* each input field */
#register #form .text.input {
  /* make the input field take up the whole width */
  width: 100%;

  /* styles */
  font-family: Outfit, sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 100px;
  padding: 13px 21px;
  font-weight: 600;
  color: black;
  background-color: #e7e7e7;

  /* make the form start from the left */
  box-sizing: border-box;

  /* Remove the red border when selected */
  outline: none;
}

/* text input field's spacing */
#register #form .field {
  margin-bottom: 30px;
}

/* error message */
label.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  display: flex;
}

#form .checkbox {
  /* make the checkbox center */
  color: black;
  display: flex;
  align-items: center;
  line-height: 1.3;
}

#form input[type="checkbox"] {
  width: 21px;
  height: 21px;
  margin: 11px;
  border-radius: 12px;
}

#form button {
  width: 100%;

  /* styles */
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  padding: 10px;
  color: black;
  background-color: #00dca5;
  margin-bottom: 70px;
  font-family: "Outfit";
}

#form .text {
  color: black;
}
