header {
  /* absolute top */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  /* black background */
  background-color: black;
}

/* add space between logo and user icon */
#header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
}

/* center the logo */
#logo {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

/* the text */
#logo #title {
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* the icon */
#icon {
  margin-right: 10px;
}

#slide-menu {
  display: none;
  position: fixed;
  right: 5px;
  background: white;
  color: black;
  list-style: none;
  padding: 10px;
  border: none;
  border-radius: 12px;
}

header #slide-menu.show {
  display: block;
  animation: slide 0.3s ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#slide-menu #menu {
  display: flex;
  align-items: center;
}

header #coin {
  display: flex;
  align-items: center;
  font-size: 12px;
  background-color: green;
  border: none;
  border-radius: 12px;
  padding: 3px 7px;
  margin-right: 10px;
}
header #coin :first-child {
  margin-right: 2px;
}
