.interactives {
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: black;
  overflow: visible;
  pointer-events: none;
}

.interactives .element {
  background-color: #00dca5;
  border: none;
  border-radius: 36px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.interactives .like {
  justify-content: space-around;
  display: flex;
  cursor: pointer;
  user-select: none;
  width: 75px;
}

.interactives .element img {
  width: auto;
  margin-right: 5px;
  overflow: visible;
  overflow-clip-margin: 0px;
}

.interactives .share.element img {
  margin-right: 0px;
}

.interactives .location {
  width: 100%;
  margin: 0px 10px;
}

.icon-inner {
  width: 15px;
  height: 15px;
}

.icon-inner.active {
  animation: like 0.5s 1;
  fill: red;
  stroke: none;
}

.icon-inner {
  fill: transparent;
  stroke: black;
  stroke-width: 30;
  transition: all 0.5s;
}

@keyframes like {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
