.interactives {
  /* the container */
  height: 35px;
  width: 100%;

  /* space between elements */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding on top*/
  margin-top: 10px;

  overflow: visible;

  /* font styles */
  font-size: 12px;
  font-weight: 700;
  color: black;
}

/* each element */
.interactives .element {
  background-color: #00dca5;
  border: none;
  border-radius: 36px;

  padding: 10px 20px;

  display: flex;
  align-items: center;

  user-select: none;
}

/* the location icon */
.interactives .element.location img {
  width: auto;
  margin-right: 5px;
  overflow: visible;
  overflow-clip-margin: 0px;
}

/* the share icon */
.interactives .share.element img {
  margin-right: 0px;
}

/* the location button */
.interactives .location {
  width: 100%;
  margin-right: 10px;
}
