@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

/* the polaroid container */
.polaroid {
  background: white;
  margin-bottom: 10px;
  font-size: 20px;
}

.polaroid.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  /* space for the width to not get the shadow to cut off */
  width: calc(100% - 8px);
  margin-left: auto;
  margin-right: auto;
}

/* added padding */
.polaroid .padding {
  padding: 5% 3%;
}

/* the text */
.polaroid .caption {
  overflow-wrap: break-word;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
  line-height: 1.2;
}

.polaroid img {
  max-height: 100%;
  width: auto;
}

@keyframes shine {
  to {
    /* // Move shine from left to right, with offset on the right based on the width of the shine - see background-size */
    background-position: right -150px top 0;
  }
}
