@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

/* the polaroid container */
.polaroid {
  background: white;
  margin-bottom: 10px;
  font-size: 20px;
}

/* added padding */
.polaroid .padding {
  padding: 5% 3%;
}

/* the text */
.polaroid .caption {
  overflow-wrap: break-word;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
  line-height: 1.2;
}

.polaroid img {
  max-height: 100%;
  width: auto;
}
