.display.active {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  height: 80%;
  background-color: rgba(25, 25, 25, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  overflow-y: auto;
  padding-bottom: 50px;
  z-index: 10;
}

.display.active .post-wrapper .post {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    scale: 0.99;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

.post-wrapper {
  width: 98%;
  max-width: 500px;
  height: 100%;
  overflow-y: visible;
}

.post-wrapper img {
  overflow-y: visible;
}
.display {
  display: none;
  position: absolute;
  max-width: 500px;
}

.post {
  scale: 1;
  max-width: 500px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: inherit;
}
