.display.active {
  position: fixed; /* changed from absolute to fixed */
  box-sizing: border-box; /* fixed the height issue */
  top: 0; /* position from the top */
  left: 0; /* position from the left */

  /* occupy the whole screen */
  min-height: 100vh;
  min-width: 100vw;

  /* background color with opacity */
  background-color: rgba(25, 25, 25, 0.8);

  /* show the display */
  display: block;

  /* prevent the display from being clipped */
  overflow-y: auto;
  z-index: 10;

  /* center the wrapper */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* animation for the post */
.display.active .post-wrapper .post {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    scale: 0.99;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

.post-wrapper {
  /* space between viewport */
  width: 98%;
  /* don't let the post be too big */
  max-width: 500px;
  /* get all the space */
  height: 100%;
}

/* hide the display */
.display {
  display: none;
  position: absolute;
  max-width: 500px;
}

.post {
  /* avoid the post from being too big */
  max-width: 500px;

  max-height: 100vh;
  /* position the post in the center */
  position: absolute;
  transform: translateY(-50%);
  top: 50%;

  /* the width should be the same as the wrapper */
  width: inherit;
}

/* the date and time text */
.post .date-time {
  position: absolute;
  bottom: 14px;
  left: 14px;
  z-index: 2;
  font-size: 12px;
  font-weight: 700;
}

.post-wrapper .spacer {
  padding: 70px 0;
}
